/* Basic Style */

.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

@media (max-width:768px) {

  .header { 
      text-align: center;
  }
  
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: "Fantasy", "Cursive";
}

.task-area {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-field__input_type_text,
.task-field__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.flex-container {
  display: flex;
}

.task-list {
  margin: 0;
  padding: 0;
}

.task-list__item, 
.title {
  list-style: none;
}

.task-field__input,
.btn {
  outline: none;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3A3a;
}

/* Heading */

.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  text-transform: uppercase;
  display: block;
  margin: 0 0 20px;
}

.task-field__input_type_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-field__input_type_text:focus {
  color: #333;
}

/* New Task */

.task-field__input_new {
  width: 318px;
}

/* Task list */

.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list__item {
  vertical-align: middle;
}

.task-field__input_type_check {
  margin: 0 10px;
}

.task-field__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-field__input_type_text {
  width: 226px;
}

.btn_type_del .btn__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn_type_del .btn__img:hover {
  transform: rotateZ(0);
}

/* Completed */

.task-field__label_complete {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.task-list__item .task-field__input_type_text {
  display: none;
}

.task-list__item_mode_edit .task-field__input_type_text {
  display: inline-block;
  width: 224px;
}

.task-list__item_mode_edit .task-field__label {
  display: none;
}